# Assignment day3

In [5]:
#reversing tuple
x =46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55
ass = tuple(reversed(x))
print (ass)

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [6]:
x =46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55
58 in x

True

In [55]:
x.count(55)

5

In [12]:
x =46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55
57 in x
59 in x

False

In [22]:
#reversing list
x= [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
x.reverse()
print (x)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [36]:
58 in x

True

In [37]:
x= [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
x.count(51)

2

In [41]:
x= [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
x.insert(7,69)
print(x)

[46, 53, 45, 48, 55, 45, 49, 69, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [68]:
x= [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
y=(89,85,36,95,45,78)
x.extend(y)
print(x)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 89, 85, 36, 95, 45, 78]

In [65]:
#Dictionary
d={}
Tottenham={"Location":"London","ManagersName":"Conte","ClubCaptain":"Lloris","NetWorth":"TenBillion","ClubFormation":"1887"}
Chelsea={"Location":"London","ManagersName":"Tuchel","ClubCaptain":"Thiago","NetWorth":"SixBillion","ClubFormation":"1985"}
Arsenal={"Location":"London","ManagersName":"Mikel","ClubCaptain":"Xhaka","NetWorth":"TwoBillion","ClubFormation":"1787"}
United={"Location":"Manchester","ManagersName":"Rangnick","ClubCaptain":"Maguire","NetWorth":"FifteenBillion","ClubFormation":"1787"}
City={"Location":"Manchester","ManagersName":"Guardiola","ClubCaptain":"Rodrigo","NetWorth":"SeventeenBillion","ClubFormation":"2000"}
Liverpool={"Location":"Liverpool","ManagersName":"Klopp","ClubCaptain":"Milner","NetWorth":"TenBillion","ClubFormation":"1881"}
Chelsea

{'Location': 'London',
 'ManagersName': 'Tuchel',
 'ClubCaptain': 'Thiago',
 'NetWorth': 'SixBillion',
 'ClubFormation': '1985'}